<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    </head>
<body>
    <span class="links">
        <ul>
            <% nav.forEach(function(navItem,i) {
                if(navItem.visable) { %>
                
                <li><a href="<%=navItem.link %>"><%=navItem.name %></a></li>
                    <% }
                });%>
            
        </ul>
    </span>
