
<%- include('partials/header') %>

<!--page content -->
<div class="container-fluid home-bg text-center">
    <h3><%= title %></h3>
    <img src="images/hithere.jpg" class="img-circle" style="box-shadow:2px 1px #003300;" alt="creephead">
    <h3>A web space for my web projects</h3>
</div>
<!--page content end-->

<%- include('partials/footer') %>
