<%- include('partials/header') %>
<!--page content -->
<div class="container-fluid projects-bg text-center">

    <h3><%= title %></h3>
    <img src="/images/drapes.jpg" class="img-circle" style="width:157px;height:155px;box-shadow:2px 1px #20627c">
    <p><%= body %></p>
    </div>
<div class="container-fluid projects-bg2 text-center">
    <div class="row">
        <div class="col-sm-4">
            <h4>Job Schedule Tool</h4>
            <img src="/images/jobboardpic1.jpg" class="img-responsive" style="width:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
        </div>
         <div class="col-sm-4">
                <h4>Costs Overview</h4>
            <img src="/images/costpic1.jpg" class="img-responsive" style="width:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        </div>
         <div class="col-sm-4">
                <h4>Custom Packing List</h4>
            <img src="/images/lookhere.jpg" class="img-responsive" style="width:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:359.8px;">
        </div>
    </div>
</div>
<!--page content end-->

<%- include('partials/footer') %>
